/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=PT+Sans:ital@1&family=Roboto&family=Ubuntu&display=swap');
:root{
    --body-font: 'Ubuntu', Arial, sans-serif;
    --headline-font: 'Ubuntu', Arial, sans-serif;
    --message-font: 'Roboto', Arial, sans-serif;
    --text-font: 'Lato', Helvetica, sans-serif;
}

#content{
    max-width: 1700px;
    margin: 0 auto; 
    /* border: 1px solid black */
}

body{
    font-family: var(--body-font);
    background-color: #ffffff;
    font-size: 1.5em;
}

/*fonts*/
h1, h2, h3, h4, h5, h6{
    font-family: var(--headline-font);
}
p{
    font-family: var(--text-font);
    font-weight:bolder;
}
a{
    font-family: var(--message-font);
}

#flixjavier-logo{
    width: 150px;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #122E57;
}
nav{
    display: flex;
    justify-content: space-around;
}
#biology-link{
    color: #ffffff;
    font-family: var(--headline-font);
    font-weight: bold;
    margin: auto;
    border-right: 5px solid #14161C;
    padding: 5px;
    text-decoration: none;
}
#biology-link:hover{
    background-color: #98FDFE;
    color: #14161C;
}

#programming-link{
    color: #ffffff;
    font-family: var(--headline-font);
    font-weight: bold;
    margin: auto;
    border-right: 5px solid #14161C;
    padding: 5px;
    text-decoration: none;
}
#programming-link:hover{
    background-color: #98FDFE;
    color: #14161C;
}
#social{
    text-align: left;
    text-decoration: none;
    margin: auto;
}

#hero-box{
    width: 1100px;
    height:570px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: auto;
}

#hero-img{
    width: 100%;
    opacity: 0.5;
    grid-area: 1/1/4/4;
    z-index: 0;
    filter: blur(3px);
}
#hero-msg{
    grid-area: 2/2/3/3;
    z-index: 1;
    margin:60px;
    color: #122E57;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #14161C, 0 0 30px #14161C, 0 0 40px #14161C, 0 0 55px #14161C, 0 0 75px #14161C;
}

#post-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
#new-post{
    text-align: center;
    background-color: #4774F1;
    padding: 20px;
    color: #ffffff;
}
.post{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    /* border: 1px solid black; */
    justify-items: center;
    align-items: center;
}
.post img{
    width: 100%;
    opacity: 0.6;
    border-radius: 10px;
    z-index: 0;
    grid-area:1/1/4/4 ;
}
.post a{
    font-family: var(--message-font);
    background-color: #3DADFF;
    z-index: 1;
    grid-area: 2/2/3/3;
    color:#14161C;
    padding: 10px;
    border-radius: 10px;
}
.post a:hover{
    background-color: #0E141A;
    color: #FFFFFF;
}

#about-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
    margin: auto;
}

#msg-img{
    width: 500px;
    grid-area: 1/2/3/3;
    padding: 10px;
    margin: auto;
}
#about-us p{
    font-family: var(--text-font);
    font-weight: 900;
    grid-area: 2/1/3/1;
}

footer{
    background-color: #4774F1;
    height: 200px;
}
#flixjavier-logo2{
    width: 150px;
    filter: contrast(150%);
}

#footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    align-items: center;
    margin-top: 15px; 
}
.pages{
    color: #0E141A;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.pages:hover{
    color: #FFFFFF;
}

#disclaimer{
    background-color: #122E57;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    font-size: 0.5em;
    grid-area: 2/1/3/4;
    text-decoration: none;
    padding: 10px;
}
#icons a{
    color: #FFFFFF;
    text-decoration:underline;
}

/**something about biology page**/
#content-page2{
    max-width: 1400px;
    margin-right: 280px; /* Same as the width of the sidebar */
    padding: 0px 10px;   
}
/*sidenav */
/* The sidebar menu */
#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 280px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #122E57; /* Black */
    overflow-x:hidden; /* Disable horizontal scroll */
    margin-top: 8px;
    padding-top: 20px; 
  }
#sidenav h3{
    margin-top: -20px; 
    color: #3DADFF;
    text-align: center;
}

  /* The navigation menu links */
#sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
  }

  /* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    color: #0E141A;
    background-color: #3DADFF;
  }

#welcome-msg p{
    text-align: justify;
}

#welcome-img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 2px solid #777;
    padding: 5px;
    border-radius: 20%;
    float: right;
    margin-top: 80px;
    margin-left: 15px;
}

/*acoordion*/
.accordion {
    background-color: #122E57;
    font-family: var(--message-font);
    font-weight:200;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
.active, .accordion:hover {
    background-color: #0E141A;
    color:#3DADFF;
  }
  
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\2212";
  }
  
.panel {
    padding: 0 18px;
    background-color: #FFFFFF;
    color:#14161C;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }


  /**Progamming is al relative page**/
span{
    font-family: var(--text-font);
    font-weight: 800;
  }
.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    background-color: #14161C;
    overflow-x:hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav2 a {
    font-family: var(--text-font);
    font-weight: 800;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav2 a:hover {
    color: #3DADFF;
  }
  
  .sidenav2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/**Responsive design using @media query*/
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 700px) {
    header{
        display: flex;
    }
    #social img{
        width: 25px;
        height: auto;
    }
    nav{
        display: block;
        padding-top: 10px;
    }
    nav a{
        font-size: 00.8em;
    }
    #content-page2{
        max-width: 500px;
        margin-right: 160px; /* Same as the width of the sidebar */
        padding: 0px 10px;   
    }
    #sidenav {padding-top: 15px; height: 35%;
        width: 160px;}
    #sidenav h3{font-size: 0.8em; padding-top: 10px;}

    #sidenav a {font-size: 18px;}
        
    .sidenav2 {padding-top: 15px;}
    
    .sidenav2 a {font-size: 18px;}
    
    .panel{
        font-size: 00.8em;
    }
    iframe {display: none;}
    #welcome-img{display: none;}
    #footer-content a{
        display: flex;
        font-size: 00.6em;
    }
  }



