body{
    margin: 0 auto;
}
header{
    margin:0px auto;
    padding-bottom: 0px;
    border: 0px;
}
main{
    margin: 0px auto;
    border: 0px;
}
/* nav{
    margin: 0 auto;
    padding: 0 auto;
} */
header img{
    width: 100%;
}
div{
    margin: 0 auto;
    background-color: #5e5d5d;
    text-align: center;
    padding: 10px 0;
}
#hero-box img{
    display: inline-block;
    width: 15%;
    border-radius: 50%;
    border: 15px solid #3e3e3e;
    margin-left: 50px;
    margin-right: 50px;
}